# Data (DO NOT TRACK)
*.zip
*.fasta 
*.fastq.qz 
*.bam 
*.sam

# Ignore classifier
pipeline/qiime2/classifiers/**

# Ignore raw sequences and manifests
dataset/ibdmdb_hmp2/raw_sequences/**
dataset/ibdmdb_hmp2/manifests/**

# Ignore Midas data, it will be an external file
dataset/midas4/**
dataset/midas5/**

# Ignore results_table

results_tables_for_ml/**

# Ignore everything under raw_results
results/**

# System
.DS_Store

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
